[mysqld]
server-id = 2
log-bin = mysql-bin
binlog-format = ROW
gtid-mode = ON
enforce-gtid-consistency = ON
relay-log = mysql-relay-bin
log-slave-updates = ON
auto-increment-offset = 2
auto-increment-increment = 2

